/* commonstyle */
body{
  font-family: 'Pacifico', cursive;
}
#title {
  background-color:white;
  height: 100px;
  position: relative;
  padding-left: 30px;
}
/* commonstyle */

/* navbar style */
.Navbar{
  background-color:green;
}
.menu-text{
  text-transform: uppercase;
  font-weight: 600;
}
li a {
  color:white;
}
/* navbar style */

/* banner style */
.banner1 {
  background-image: url(Images/dulich-ho-hoan-kiem.jpg);
  background-size: cover;
  height: 700px;
  position: relative;
  z-index: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banneramthuc {
  background-image: url("images/amthuchanoi.jpg");
  background-size: cover;
  height: 700px;
  position: relative;
  z-index: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1-title{
  position: absolute;
  top: 50px;
  left: 50px;
}
/* banner style */

/* maincontent style */
main{
  background-color: #F3F7ED;
  padding-bottom: 50px;
}
.main-content-title{
  padding: 20px 0px 20px 20px ;
  text-align: center;
}
.travel{
  margin:auto;
  padding-left: 20px;
}
.cuisine{
  margin:auto;
  padding-left: 20px;
}
.travel img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 30px;
  max-width: 600px;
}

.cuisine img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 30px;
}
.cuisine h1{
  text-align: center;
}
.descriptiontext{
  line-height: 300%;
}

.signinform {
  z-index: 2;
  border-radius: 5px;
  background-color: white;
  max-width: 500px;
  padding: 35px 30px;
}

.registrationform {
  background-color: white;
  border-radius: 5px;
  max-width: 550px;
  padding: 35px 30px;
}
.regbtn{
  padding-top:20px;
}

legend{
  font-weight: bold;
  font-size: 2rem;
}
.contactformblock{
  background-color: white;
  border-radius: 5px;
  max-width: 800px;
  padding: 35px 30px;
  z-index: 6;
}
.foodnametitle{
  font-family: Lobster;
}
/* maincontent style */

/*footerstyle*/
.Footer{
  padding-top:10px;

}
.footer-content{
  padding-left: 20px;
  padding-top: 20px;
}

.contact-title{
  padding-top: 30px;
}
.footer-reflink{
  list-style: none;
}
.footer-link{
  color: black;
}
.SNS{
  list-style: none;;
}
.SNS li{
  display: inline-block;
}
/*footerstyle*/

/* contactform */
.requiredasterisk{
  color:red;
}
/* contactform */



